<!DOCTYPE html>
<html>
<head>
  <title>Codebreaker</title>
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
</head>
<body>
<div id="container">
    <table class="t-game">
      <tr>
        <td  class="td-game" colspan="2">
          Player: <%=name%>
        </td>
      </tr>
      <tr>
        <td class="td-game">Hints: <%=game.hints%> </td>
        <td  class="td-game">Attempts: <%=game.attempts%></td>
      </tr>
      <tr>
        <td colspan="2" class="td-game">
        <%if hint%>
            <%=hint%>
        <%end%>
        </td>
      </tr>
      <tr>
        <td colspan="2"  class="td-game">
          <form method="post" action="/input">
            <input name="input" type="text">
            <input type="submit" value="Check">
          </form>
        </td>
      </tr>
      <tr>
        <td  colspan="2" class="td-game">
          <%if answer%>
             <%=answer%>
          <%end%>
        </td>
      </tr>
      <tr>
        <td  colspan="2" class="td-game">
          <span class="btn1"><a href="/get_hint">Get hint</a></span>
        </td >
      </tr>
      <tr>
        <td  class="td-game">
          <span class="btn1"><a href="/start">Restart</a></span>
        </td>
        <td class="td-game">
          <span class="btn1"><a href="/">Exit</a></span>
        </td >
      </tr>
    </table>
</div>
</body>
</html>